<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Success Tracker</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script> -->

	<!--angular-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<!-- Load ngMessages -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-messages.min.js"></script>
	
	<script type="text/javascript" src="jquery.canvasjs.min.js"></script>
	
	<link href="angular-growl.css" rel="stylesheet">
    <script src="angular-growl.js"></script>
	
	<link href="angular-bootstrap-toggle.min.css" rel="stylesheet">
    <script src="angular-bootstrap-toggle.min.js"></script>
	<!-- <script type="text/javascript" src="angular-growl-notifications.js"></script> -->
	
	<script src="main.js"></script>
	
	<style>
	growl-notifications {
		position: fixed;
		top: 150px;
		right: 10px;
		z-index: 1000;
	}

	growl-notifications growl-notification {
		background: rgba(0,0,0,0.6);
		color: white;
		padding: 15px 30px;
		width: 200px;
		display: block;
		border-radius: 5px;
		margin-top: 15px;
	}
	
	.big{
		padding: 10% 10%;
		font-size: 60px;
	}
	</style>
  
</head>

<body ng-app="success_tracker">
	<div ng-controller="STController" ng-init='load()'>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="navbar-header">	
			</div>
		  </div>
		  <h3 class="pull-left">The Jesse Herfel Real Estate Group <small><b><font color="green">Success Tracker</font></b></small></h3>
		  <div class="pull-right">
			<ul class="nav nav-pills pull-right">
				<li role="presentation" class="active" ng-click="homeData()" id="home"><a href="#">Home</a></li>
				<li role="presentation" ng-click="inputData()" id="inputData"><a href="#">Input Data</a></li>
				<li role="presentation" id="contact"><a href="#">Contact</a></li>
				<li role="presentation" id="about"><a href="#">About</a></li>
				<li role="presentation" id="administration"><a href="#">Administration</a></li>
			</ul>
		  </div>
		</nav>

		<div id="statistics-wrapper" ng-show="statistics">
			<toggle ng-model="statisticsToggle" ng-change="updateStatisticsUserType()" on="Agent" off="ISA" onstyle="btn-primary" offstyle="btn-danger" class="pull-left"></toggle>
			<div id="agent-statistics-wrapper" ng-show="statisticsToggle" class="ng-hide">
				<div class="dropdown pull-left">
				  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">List of Available Users<span class="caret"></span></button>
				  <ul class="dropdown-menu" id="dropdown-menu">
					<li ng-repeat="user in agentUserList" ng-click="getUserStatistics(user, '', '', 'agent')" class="user_name"><a href="#">{{user}}</a></li>
				  </ul>
				</div>
				
				<button class="btn btn-primary pull-left" type="button" ng-click="showAll('agent')">Show All Data</button>
				
				<div class="dropdown pull-right">
				  <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Right hand side of the ratio<span class="caret"></span></button>
				  <ul class="dropdown-menu" id="dropdown-menu">
					<!-- <li ng-repeat="selectedRightData in rightDataList" ng-click="changeGatheredStatistics(failTruthy, selectedRightData)" class="user_name"><a href="#">{{selectedRightData}}</a></li> -->
					<li ng-repeat="selectedRightData in agentDataList" ng-click="changeAgentStatistics(failTruthy, selectedRightData)" class="user_name"><a href="#">{{selectedRightData}}</a></li>
				  </ul>
				</div>
				
				<div class="dropdown pull-right">
				  <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Left hand side of the ratio<span class="caret"></span></button>
				  <ul class="dropdown-menu" id="dropdown-menu">
					<!-- <li ng-repeat="selectedLeftData in leftDataList" ng-click="changeGatheredStatistics(selectedLeftData, failTruthy)" class="user_name"><a href="#">{{selectedLeftData}}</a></li> -->
					<li ng-repeat="selectedLeftData in agentDataList" ng-click="changeAgentStatistics(selectedLeftData, failTruthy)" class="user_name"><a href="#">{{selectedLeftData}}</a></li>
				  </ul>
				</div>
				

				<br><br><br>
				
				<div id="agentChartContainer" style="height: 300px; width: 100%;"></div>
				
				<br><br><br>
				
				<div class="center-block container">
				<form class="form-inline">
					<div class="form-group">
						<label for="agentDateRangeStart">Start</label>
						<input id="agentDateRangeStart" ng-model="agentDateRangeStart" type="date" class="form-control">
					</div>
					<div class="form-group">
						<label for="agentDateRangeEnd">End</label>
						<input id="agentDateRangeEnd" ng-model="agentDateRangeEnd" type="date" class="form-control">
					</div>
					<button class="btn btn-default" ng-click="changeDateRange('agent')">Change Date Range</button>
				</form>
				</div>
			</div>
			
			<div id="isa-statistics-wrapper" ng-hide="statisticsToggle" class="ng-hide">
				<div class="dropdown pull-left">
				  <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">List of Available Users<span class="caret"></span></button>
				  <ul class="dropdown-menu" id="dropdown-menu">
					<li ng-repeat="user in isaUserList" ng-click="getUserStatistics(user, '', '', 'isa')" class="user_name"><a href="#">{{user}}</a></li>
				  </ul>
				</div>
				
				<button class="btn btn-danger pull-left" type="button" ng-click="showAll('isa')">Show All Data</button>
				
				<div class="dropdown pull-right">
				  <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Right hand side of the ratio<span class="caret"></span></button>
				  <ul class="dropdown-menu" id="dropdown-menu">
					<li ng-repeat="selectedRightData in isaDataList" ng-click="changeISAStatistics(failTruthy, selectedRightData)" class="user_name"><a href="#">{{selectedRightData}}</a></li>
				  </ul>
				</div>
				
				<div class="dropdown pull-right">
				  <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Left hand side of the ratio<span class="caret"></span></button>
				  <ul class="dropdown-menu" id="dropdown-menu">
					<li ng-repeat="selectedLeftData in isaDataList" ng-click="changeISAStatistics(selectedLeftData, failTruthy)" class="user_name"><a href="#">{{selectedLeftData}}</a></li>
				  </ul>
				</div>
				
				ISA Style
				
				<br><br><br>
			
				<div id="isaChartContainer" style="height: 300px; width: 100%;"></div>
				
				<br><br><br>
				
				<div class="center-block container">
				<form class="form-inline">
					<div class="form-group">
						<label for="isaDateRangeStart">Start</label>
						<input id="isaDateRangeStart" ng-model="isaDateRangeStart" type="date" class="form-control">
					</div>
					<div class="form-group">
						<label for="isaDateRangeEnd">End</label>
						<input id="isaDateRangeEnd" ng-model="isaDateRangeEnd" type="date" class="form-control">
					</div>
					<button class="btn btn-default" ng-click="changeDateRange('isa')">Change Date Range</button>
				</form>
				</div>
			</div>
			
		</div>
		
		<div id="input-wrapper" ng-show="input" class="ng-hide">
		  <div ng-show="inputSelector" class="ng-hide text-center">
			<button class="btn btn-warning big" ng-click="chooseInputForm('ISA')">ISA Input Form</button>
			<button class="btn btn-primary big" ng-click="chooseInputForm('agent')">Agent Input Form</button>
		  </div>
		  
		  <form name="inputForm">
		  
		  <div ng-show="ISA" class="ng-hide">
			<button class="btn btn-default" ng-click="formReset()">< Back</button>
			<h4><b>Input new statics</b></h4>
			<label for="basic-url">Enter your name</label>
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon3">Name</span>
			  <input ng-minlength="2" ng-maxlength="9999" ng-model="ISAname" name="ISAname" required="" type="text" class="form-control" id="ISAname" aria-describedby="ISAname">
			</div>
			<div ng-messages="inputForm.ISAname.$error" style="color:maroon" role="alert">
				  <div ng-message="required">You did not enter a field</div>
				  <div ng-message="minlength">Your field is too short</div>
				  <div ng-message="maxlength">Your field is too long</div>
			</div>
			<br>
			<label for="basic-url">Enter the date of the calls</label>
			<div class="input-group">
			  <span class="input-group-addon">Date</span>
			  <input ng-minlength="1" ng-maxlength="9999" ng-model="ISAdate" name="ISAdate" required="" type="date" id="ISAdate" class="form-control" aria-label="ISAdate">
			</div>
			<div ng-messages="inputForm.ISAdate.$error" style="color:maroon" role="alert">
				  <div ng-message="required">You did not enter a field</div>
				  <div ng-message="minlength">Your field is too short</div>
				  <div ng-message="maxlength">Your field is too long</div>
			</div>
			<br>
			<label for="basic-url">Enter the number of dials</label>
			<div class="input-group">
			  <span class="input-group-addon">Dials</span>
			  <input ng-minlength="1" ng-maxlength="9999" ng-model="ISAdials" name="ISAdials" required="" type="number" id="ISAdials" class="form-control" aria-label="ISAdials">
			</div>
			<div ng-messages="inputForm.ISAdials.$error" style="color:maroon" role="alert">
				  <div ng-message="required">You did not enter a field</div>
				  <div ng-message="minlength">Your field is too short</div>
				  <div ng-message="maxlength">Your field is too long</div>
			</div>
			<br>
			<label for="basic-url">Enter the number of contacts</label>
			<div class="input-group">
			  <span class="input-group-addon">Contacts</span>
			  <input ng-minlength="1" ng-maxlength="9999" ng-model="ISAcontacts" name="ISAcontacts" required="" type="number" id="ISAcontacts" class="form-control" aria-label="ISAcontacts">
			</div>
			<div ng-messages="inputForm.ISAcontacts.$error" style="color:maroon" role="alert">
				  <div ng-message="required">You did not enter a field</div>
				  <div ng-message="minlength">Your field is too short</div>
				  <div ng-message="maxlength">Your field is too long</div>
				</div>
			<br>
			<label for="basic-url">Enter the number of nurtures</label>
			<div class="input-group">
			  <span class="input-group-addon">Nurtures</span>
			  <input ng-minlength="1" ng-maxlength="9999" ng-model="ISAnurtures" name="ISAnurtures" required="" type="number" id="ISAnurtures" class="form-control" aria-label="ISAnurtures">
			</div>
			<div ng-messages="inputForm.ISAnurtures.$error" style="color:maroon" role="alert">
				  <div ng-message="required">You did not enter a field</div>
				  <div ng-message="minlength">Your field is too short</div>
				  <div ng-message="maxlength">Your field is too long</div>
			</div>
			<br>
			
			
			<label for="basic-url">Listing appointments (List prospect's name)</label>
			<div class="input-group">
			  <span class="input-group-addon">Appointments</span>
			  <textarea rows="5" ng-minlength="1" ng-maxlength="9999" required="" ng-model="ISAlistingappointments" type="text" id="ISAlistingappointments" class="form-control" aria-label="ISAlistingappointments" name="ISAlistingappointments"></textarea>
			</div>
			<div ng-messages="inputForm.ISAlistingappointments.$error" style="color:maroon" role="alert">
				<div ng-message="required">You did not enter a field</div>
				<div ng-message="minlength">Your field is too short</div>
				<div ng-message="maxlength">Your field is too long</div>
			</div>

			<label for="basic-url">Buyer appointments (List prospect's name)</label>
			<div class="input-group">
			  <span class="input-group-addon">Appointments</span>
			  <textarea rows="5" ng-minlength="1" ng-maxlength="9999" required="" ng-model="ISAbuyerappointments" type="text" id="ISAbuyerappointments" class="form-control" aria-label="ISAbuyerappointments" name="ISAbuyerappointments"></textarea>
			</div>
			<div ng-messages="inputForm.ISAbuyerappointments.$error" style="color:maroon" role="alert">
				<div ng-message="required">You did not enter a field</div>
				<div ng-message="minlength">Your field is too short</div>
				<div ng-message="maxlength">Your field is too long</div>
			</div>

			<br>
			<div growl=""></div><button class="btn btn-primary" ng-click="enterNewData('isa')">Input Data</button>

		  <!-- </form> -->
		  </div>
		  
		  <div ng-show="agent" class="ng-hide">
		  <button class="btn btn-default" ng-click="formReset()">< Back</button>
		  <!-- <form name="AgentInputForm"> -->
			<h4><b>Input new statics</b></h4>
			<label for="basic-url">Enter your name</label>
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon3">Name</span>
			  <input ng-minlength="2" ng-maxlength="9999" ng-model="name" name="name" required="" type="text" class="form-control" id="name" aria-describedby="name">
			</div>
			<div ng-messages="inputForm.name.$error" style="color:maroon" role="alert">
				  <div ng-message="required">You did not enter a field</div>
				  <div ng-message="minlength">Your field is too short</div>
				  <div ng-message="maxlength">Your field is too long</div>
			</div>
			<br>
			<label for="basic-url">Enter the date of the calls</label>
			<div class="input-group">
			  <span class="input-group-addon">Date</span>
			  <input ng-minlength="1" ng-maxlength="9999" ng-model="date" name="date" required="" type="date" id="date" class="form-control" aria-label="date">
			</div>
			<div ng-messages="inputForm.date.$error" style="color:maroon" role="alert">
				  <div ng-message="required">You did not enter a field</div>
				  <div ng-message="minlength">Your field is too short</div>
				  <div ng-message="maxlength">Your field is too long</div>
			</div>
			<br>
			<label for="basic-url">Enter the number of dials</label>
			<div class="input-group">
			  <span class="input-group-addon">Dials</span>
			  <input ng-minlength="1" ng-maxlength="9999" ng-model="dials" name="dials" required="" type="number" id="dials" class="form-control" aria-label="dials">
			</div>
			<div ng-messages="inputForm.dials.$error" style="color:maroon" role="alert">
				  <div ng-message="required">You did not enter a field</div>
				  <div ng-message="minlength">Your field is too short</div>
				  <div ng-message="maxlength">Your field is too long</div>
			</div>
			<br>
			<label for="basic-url">Enter the number of contacts</label>
			<div class="input-group">
			  <span class="input-group-addon">Contacts</span>
			  <input ng-minlength="1" ng-maxlength="9999" ng-model="contacts" name="contacts" required="" type="number" id="contacts" class="form-control" aria-label="contacts">
			</div>
			<div ng-messages="inputForm.contacts.$error" style="color:maroon" role="alert">
				  <div ng-message="required">You did not enter a field</div>
				  <div ng-message="minlength">Your field is too short</div>
				  <div ng-message="maxlength">Your field is too long</div>
				</div>
			<br>
			<label for="basic-url">Enter the number of nurtures</label>
			<div class="input-group">
			  <span class="input-group-addon">Nurtures</span>
			  <input ng-minlength="1" ng-maxlength="9999" ng-model="nurtures" name="nurtures" required="" type="number" id="nurtures" class="form-control" aria-label="nurtures">
			</div>
			<div ng-messages="inputForm.nurtures.$error" style="color:maroon" role="alert">
				  <div ng-message="required">You did not enter a field</div>
				  <div ng-message="minlength">Your field is too short</div>
				  <div ng-message="maxlength">Your field is too long</div>
			</div>
			<br>
<!-- 			<label for="basic-url">Enter the number of appointments</label>
			<div class="input-group">
			  <span class="input-group-addon">Appointments</span>
			  <input ng-minlength="1" ng-maxlength="9999" required="" ng-model="appointments" type="number" id="appointments" class="form-control" aria-label="appointments" name="appointments">
			</div>
			<div ng-messages="inputForm.appointments.$error" style="color:maroon" role="alert">
				<div ng-message="required">You did not enter a field</div>
				<div ng-message="minlength">Your field is too short</div>
				<div ng-message="maxlength">Your field is too long</div>
			</div> -->
			
<!--
			<label for="basic-url">Listing appointments (List prospect's name)</label>
			<div class="input-group">
			  <span class="input-group-addon">Appointments</span>
			  <textarea rows="5" ng-minlength="1" ng-maxlength="9999" required="" ng-model="ISAlistingappointments" type="number" id="ISAlistingappointments" class="form-control" aria-label="ISAlistingappointments" name="ISAlistingappointments"></textarea>
			</div>
			<div ng-messages="inputForm.ISAlistingappointments.$error" style="color:maroon" role="alert">
				<div ng-message="required">You did not enter a field</div>
				<div ng-message="minlength">Your field is too short</div>
				<div ng-message="maxlength">Your field is too long</div>
			</div>
-->			
			
<!--- new stuff -->

			<label for="basic-url">Listing appointments set (List prospect's name)</label>
			<div class="input-group">
			  <span class="input-group-addon">Appointments</span>
			  <textarea rows="5" ng-minlength="1" ng-maxlength="9999" required="" ng-model="las" type="text" id="las" class="form-control" aria-label="las" name="las"></textarea>
			</div>
			<div ng-messages="inputForm.las.$error" style="color:maroon" role="alert">
				<div ng-message="required">You did not enter a field</div>
				<div ng-message="minlength">Your field is too short</div>
				<div ng-message="maxlength">Your field is too long</div>
			</div>

			<label for="basic-url">Listing appointments held (List prospect's name)</label>
			<div class="input-group">
			  <span class="input-group-addon">Appointments</span>
			  <textarea rows="5" ng-minlength="1" ng-maxlength="9999" required="" ng-model="lah" type="text" id="lah" class="form-control" aria-label="lah" name="lah"></textarea>
			</div>
			<div ng-messages="inputForm.lah.$error" style="color:maroon" role="alert">
				<div ng-message="required">You did not enter a field</div>
				<div ng-message="minlength">Your field is too short</div>
				<div ng-message="maxlength">Your field is too long</div>
			</div>

			<label for="basic-url">Listings taken (List prospect's name)</label>
			<div class="input-group">
			  <span class="input-group-addon">Appointments</span>
			  <textarea rows="5" ng-minlength="1" ng-maxlength="9999" required="" ng-model="lt" type="text" id="lt" class="form-control" aria-label="lt" name="lt"></textarea>
			</div>
			<div ng-messages="inputForm.lt.$error" style="color:maroon" role="alert">
				<div ng-message="required">You did not enter a field</div>
				<div ng-message="minlength">Your field is too short</div>
				<div ng-message="maxlength">Your field is too long</div>
			</div>

			<label for="basic-url">Buyer appointments set (List prospect's name)</label>
			<div class="input-group">
			  <span class="input-group-addon">Appointments</span>
			  <textarea rows="5" ng-minlength="1" ng-maxlength="9999" required="" ng-model="bas" type="text" id="bas" class="form-control" aria-label="bas" name="bas"></textarea>
			</div>
			<div ng-messages="inputForm.bas.$error" style="color:maroon" role="alert">
				<div ng-message="required">You did not enter a field</div>
				<div ng-message="minlength">Your field is too short</div>
				<div ng-message="maxlength">Your field is too long</div>
			</div>			

			<label for="basic-url">Buyer appointments held (List prospect's name)</label>
			<div class="input-group">
			  <span class="input-group-addon">Appointments</span>
			  <textarea rows="5" ng-minlength="1" ng-maxlength="9999" required="" ng-model="bah" type="text" id="bah" class="form-control" aria-label="bah" name="bah"></textarea>
			</div>
			<div ng-messages="inputForm.bah.$error" style="color:maroon" role="alert">
				<div ng-message="required">You did not enter a field</div>
				<div ng-message="minlength">Your field is too short</div>
				<div ng-message="maxlength">Your field is too long</div>
			</div>
			
			<label for="basic-url">Buyer Broker Agreement's Signed (List prospect's name)</label>
			<div class="input-group">
			  <span class="input-group-addon">Appointments</span>
			  <textarea rows="5" ng-minlength="1" ng-maxlength="9999" required="" ng-model="bbas" type="text" id="bbas" class="form-control" aria-label="bbas" name="bbas"></textarea>
			</div>
			<div ng-messages="inputForm.bbas.$error" style="color:maroon" role="alert">
				<div ng-message="required">You did not enter a field</div>
				<div ng-message="minlength">Your field is too short</div>
				<div ng-message="maxlength">Your field is too long</div>
			</div>	
		
			<label for="basic-url">Contracts Written (List client's name)</label>
			<div class="input-group">
			  <span class="input-group-addon">Appointments</span>
			  <textarea rows="5" ng-minlength="1" ng-maxlength="9999" required="" ng-model="cw" type="text" id="cw" class="form-control" aria-label="cw" name="cw"></textarea>
			</div>
			<div ng-messages="inputForm.cw.$error" style="color:maroon" role="alert">
				<div ng-message="required">You did not enter a field</div>
				<div ng-message="minlength">Your field is too short</div>
				<div ng-message="maxlength">Your field is too long</div>
			</div>

			<label for="basic-url">Contracts Accepted (List client's name)</label>
			<div class="input-group">
			  <span class="input-group-addon">Appointments</span>
			  <textarea rows="5" ng-minlength="1" ng-maxlength="9999" required="" ng-model="ca" type="text" id="ca" class="form-control" aria-label="ca" name="ca"></textarea>
			</div>
			<div ng-messages="inputForm.ca.$error" style="color:maroon" role="alert">
				<div ng-message="required">You did not enter a field</div>
				<div ng-message="minlength">Your field is too short</div>
				<div ng-message="maxlength">Your field is too long</div>
			</div>

			
			<br>
			<div growl=""></div><button class="btn btn-primary" ng-click="enterNewData('agent')">Input Data</button>


		  </div>
		  </form>
		</div>
  </div>
</body>

</html>
