<h4><b>Input new statics</b></h4>
<label for="basic-url">Enter your name</label>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon3">Name</span>
  <input ng-model="name" type="text" class="form-control" id="name" aria-describedby="name">
</div>
<br>
<label for="basic-url">Enter the date of the calls</label>
<div class="input-group">
  <span class="input-group-addon">Date</span>
  <input ng-model="date" type="date" id="date" class="form-control" aria-label="date">
</div>
<br>
<label for="basic-url">Enter the number of dials</label>
<div class="input-group">
  <span class="input-group-addon">Dials</span>
  <input ng-model="dials" type="number" id="dials" class="form-control" aria-label="dials">
</div>
<br>
<label for="basic-url">Enter the number of contacts</label>
<div class="input-group">
  <span class="input-group-addon">Contacts</span>
  <input ng-model="contacts" type="number" id="contacts" class="form-control" aria-label="contacts">
</div>
<br>
<label for="basic-url">Enter the number of nurtures</label>
<div class="input-group">
  <span class="input-group-addon">Nurtures</span>
  <input ng-model="nurtures" type="number" id="nurtures" class="form-control" aria-label="nurtures">
</div>
<br>
<label for="basic-url">Enter the number of appointments</label>
<div class="input-group">
  <span class="input-group-addon">Appointments</span>
  <input ng-model="appointments" type="number" id="appointments" class="form-control" aria-label="appointments">
</div>
<button class="btn btn-primary" ng-click="enterNewData()">Input Data</button>